<div id="bidding">
	<form class="form-horizontal">
		<div class="col-md-6">
<!-- Start the Contract -->
			<ul class="list-group">
				<li class="list-group-item text-center">
					<h5>Player</h5>
					<div id="bid_user" class="btn-group">
						<a  id="bid_user_n" class="btn btn-success btn-sm" data-toggle="tooltip" title="North">N</a>
						<a  id="bid_user_s" class="btn btn-success btn-sm" data-toggle="tooltip" title="South">S</a>
						<a  id="bid_user_e" class="btn btn-success btn-sm" data-toggle="tooltip" title="East">E</a>
						<a  id="bid_user_w" class="btn btn-success btn-sm" data-toggle="tooltip" title="West">W</a>
					</div>
				</li>

				<li class="list-group-item text-center">
					<h5>Contract</h5>
					<div id="bid_tricks" class="btn-group">
						<a id="bid_tricks_1" class="btn btn-success btn-sm"><b>1</b></a>
						<a id="bid_tricks_2" class="btn btn-success btn-sm"><b>2</b></a>
						<a id="bid_tricks_3" class="btn btn-success btn-sm"><b>3</b></a>
						<a id="bid_tricks_4" class="btn btn-success btn-sm"><b>4</b></a>
						<a id="bid_tricks_5" class="btn btn-success btn-sm"><b>5</b></a>
						<a id="bid_tricks_6" class="btn btn-success btn-sm"><b>6</b></a>
						<a id="bid_tricks_7" class="btn btn-success btn-sm"><b>7</b></a>					
					</div>
					<div class="row"></div>
					<div id="bid_color" class="btn-group">
						<a  id="bid_color_clubs" class="btn btn-success btn-sm"><img class="clubs"></a>
						<a  id="bid_color_diamonds" class="btn btn-success btn-sm"><img class="diamonds"></a>
						<a  id="bid_color_hearts" class="btn btn-success btn-sm"><img class="hearts"></a>
						<a  id="bid_color_spades" class="btn btn-success btn-sm"><img class="spades"></a>
						<a  id="bid_color_nt" class="btn btn-success btn-sm"><b>NT</b></a>				
					</div>					
				</li>

				<li class="list-group-item text-center">
					<h5>Double</h5>
					<div id="bid_dbl" class="btn-group">
						<a id="bid_dbl_x" class="btn btn-success btn-sm" data-toggle="tooltip" title="Double!"><b>X</b></a>
						<a id="bid_dbl" class="btn btn-success btn-sm" data-toggle="tooltip" title="Re-Double!"><b>XX</b></a>
					</div>
				</li>
			</ul>
<!-- Start the Game -->
				<button {{action "scoring"}} class="btn btn-default btn-sm btn-block">Start the game</button>
		</div>
	</form>
</div>

<!-- Start the Score the game is over -->


<div id="scoring">
	<form class="form-horizontal">
		<div class="col-md-6">
			<ul class="list-group">
				<li class="list-group-item text-center">
					<h5>Contract</h5>
					<div class="btn-group">
						<a  class="btn btn-success btn-sm">0</a>
						<a  class="btn btn-success btn-sm">1</a>
						<a  class="btn btn-success btn-sm">2</a>
						<a  class="btn btn-success btn-sm">3</a>
						<a  class="btn btn-success btn-sm">4</a>
						<a  class="btn btn-success btn-sm">5</a>
						<a  class="btn btn-success btn-sm">6</a>
					</div>
					<div class="row"></div>
					<div class="btn-group">
						<a  class="btn btn-success btn-sm">7</a>
						<a  class="btn btn-success btn-sm">8</a>
						<a  class="btn btn-success btn-sm">9</a>
						<a  class="btn btn-success btn-sm">10</a>
						<a  class="btn btn-success btn-sm">11</a>
						<a  class="btn btn-success btn-sm">12</a>
						<a  class="btn btn-success btn-sm">13</a>					
					</div>				
				</li>	

				<li class="list-group-item text-center">
					<h5>Bonus</h5>
					<div class="btn-group">
						<a  class="btn btn-success btn-sm" data-toggle="tooltip" title="North">N</a>
						<a  class="btn btn-success btn-sm" data-toggle="tooltip" title="South">S</a>
						<a  class="btn btn-success btn-sm" data-toggle="tooltip" title="East">E</a>
						<a  class="btn btn-success btn-sm" data-toggle="tooltip" title="West">W</a>
					</div>
					<div class="row"></div>
					<div class="btn-group">
						<a  class="btn btn-success btn-sm">4H</a>
						<a  class="btn btn-success btn-sm">5H</a>
					</div>
				</li>	
				
			</ul>
			<button {{action "bidding"}} class="btn btn-default btn-sm btn-block">Submit score</button>
		</div>
	</form>
</div>