<div class="col-md-6">
	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item active">
				<span class="badge">Player 1</span>
				<span class="badge">Player 2</span>
				<h4>North & South</h4>
			</li>
			<li class="list-group-item">
				<table class="table table-striped table-hover">	
					<thead>
						<th>Contracts</th>
						<th>Slams</th>
						<th>Score</th>
					</thead>
					<tbody>
					    <tr>
					      <td>10</td>
					      <td>2</td>
					      <td>10</td>
					    </tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>

	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item active">
				<span class="badge">Player 3</span>
				<span class="badge">Player 4</span>
				<h4>East & West</h4>
			</li>
			<li class="list-group-item">
				<table class="table table-striped table-hover">	
					<thead>
						<th>Contracts</th>
						<th>Slams</th>
						<th>Score</th>
					</thead>
					<tbody>
					    <tr>
					      <td>10</td>
					      <td>2</td>
					      <td>10</td>
					    </tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>

	<div class="col-md-12">			
  		<p class="text-info">Current Rubber</p>
		<table class="table table-striped table-hover ">
			    <tr>
			      <td align="left"></td>
			      <td align="right">50</td>
			      <td align="left">0</td>
			      <td align="right"></td>
			    </tr>
			    <tr>
			      <td align="left"></td>
			      <td align="right">50</td>
			      <td align="left">50</td>
			      <td align="right"></td>
			    </tr>
			    <tr class="warning">
			      <td align="left"></td>
			      <td align="right">50</td>
			      <td align="left">100</td>
			      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
			    </tr>
			    <tr class="warning">
			      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
			      <td align="right">100</td>
			      <td align="left">100</td>
			      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
			    </tr>
			    <tr class="success">
			      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
			      <td align="right">200</td>
			      <td align="left">100</td>
			      <td align="right"></td>
			    </tr>
		</table>
	</div>
</div>

<div class="col-md-3">
	<div class="col-md-12">	
<!-- 		<div class="scoreTable">
		<div class="scrollable"> -->		
	  		<p class="text-info">Current game scores</p>
			<table class="table table-striped table-hover ">
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>	
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">0</td>
				      <td align="right"></td>
				    </tr>
				    <tr>
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">50</td>
				      <td align="right"></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"></td>
				      <td align="right">50</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="warning">
				      <td align="left"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				      <td align="right">100</td>
				      <td align="left">100</td>
				      <td align="right"><a href="#" class="btn btn-warning disabled btn-xs">Vulnerable</a></td>
				    </tr>
				    <tr class="success">
				      <td align="left"><a href="#" class="btn btn-success disabled btn-xs">GAME</a></td>
				      <td align="right">200</td>
				      <td align="left">100</td>
				      <td align="right"></td>
				    </tr>				    		    			    
			</table>
<!-- 		</div> -->
		<table class="table table-striped total">
			    <tr class="total">
			      <td align="left"></td>
			      <td align="right">SUM P1&P2</td>
			      <td align="left">SUM P3&P4</td>
			      <td align="right"></td>
			    </tr>				    		    			    
		</table>	
<!-- 		</div>		 -->
	</div>
</div>	



<div class="col-md-3">
  	<div class='col-md-12'>	
		<fieldset><p class="text-info">WTF of the WTF's</p>
		<div class="well bs-component">
			<h3><p>WTF do we need here?</p></h3>
		</div>
		</fieldset> 
	</div>	
</div>	